.navbar{
 position: flex;
 top:0;
 width:100%;
 height:60px;
 background:#452829; 
 color :white;
 display:flex;
 align-items:center;
 padding:0 25px;
 box-sizing:border-box;
 z-index:1000;	
 justify-content:center;
}

.nav-links {
list-style:none;
display:flex;
gap:25px;
margin-right:end;
}

.nav-links li a {
color:#ddd;
text-decoration:none;
font-size:16px;
transition:0.3s;
margin-right: auto;
}

#content {
padding:80px 20px;
}

.logo {
margin-right:auto;
color:white;
font-size:20px;
font-weight:bold;
text-shadow:0 0 7px #fff, 0 0 10px #fff, 0 0 21px #ff00de,0 0 42px green;
background-color:grey;
border-radius:50px;
padding:10px 12px;
}

section {
background:linear-gradient(to right, grey,#2f3133);
color:white;
text-align:center;
padding:60px 20px;
}

.link-hero {
	background:white;
	color:green;
	padding:10px 20px;
	text-decoration:none;
	font-weight:bold;
	border-radius:5px;
}

.link-hero:hover {
	background-color:#E8D1C5;
	color:black;
	transition:0.5s;
	
}

.beranda {
		background:grey;
	color:brown;
	padding:10px 20px;
	text-decoration:none;
	font-weight:bold;
	border-radius:5px;
	margin-right:end;
}
.beranda:hover {
		background-color:#3c4045;
	color:white;
	transition:0.5s;
}

.profil {
		background:grey;
	color:brown;
	padding:10px 20px;
	text-decoration:none;
	font-weight:bold;
	border-radius:5px;
	margin-right:end;
	
}
.profil:hover {
		background-color:#3c4045;
	color:white;
	transition:0.5s;
}

.kontak {
		background:grey;
	color:brown;
	padding:10px 20px;
	text-decoration:none;
	font-weight:bold;
	border-radius:5px;
	margin-right:end;
}
.kontak:hover {
		background-color:#3c4045;
	color:white;
	transition:0.5s;
}

.Buku {
	background:grey;
	color:brown;
	padding:10px 20px;
	text-decoration:none;
	font-weight:bold;
	border-radius:5px;
	margin-right:end;
}
.Buku:hover {
		background-color:#3c4045;
	color:white;
	transition:0.5s;
}